 // Version mobile
@import "../utils/_variables.scss";
@import "../utils/_mixins.scss";
// Ce code contient les éléments du footer + un lien vers une adresse mail sur "contact"
 footer
 {
    @include mobile;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    background: lighten($color-black, 20);
    color:$color-white;
    h1
    {
        @include h1;
        font-weight: normal;
        margin-left: 8%;
        margin-top: 8%;
    }
    ul
    {
        list-style: none;
        padding: 0px;
        margin-bottom: 10%;        
    }
    li
    {           
        margin-top: 5px;
        margin-left: 8%;
        @include p-petite;
        color: $color-white;        
    }
    i.fa-utensils, i.fa-hands-helping
    {  
        color: $color-white;
        font-size: 0.8em;
        padding: 0px 10px 0px 0px;
    }
    a 
    {
        @include liens-apparence;
        color: $color-white;
    }

}
     