// Version ordinateur
@import "../../utils/variables";
@import "../../utils/mixins";
// Ce code correspond à la section 2 de l'Index =
// trois boutons dont les éléments et le background changent de couleurs au survol
#section2 
{
    @include breakpoint-desktop;
    margin-bottom: 40px;
    .h2-bold
    {
        @include h2-bold_desktop;
        margin-left: 5%;
        margin-top: 50px;
    }
    > div:last-child
    {
        @include bloc-row;
        flex-wrap: wrap;
        .fonctionnement
        {
            @include bloc-row;
            width: 25%;
            background-color: lighten($background-blocs,4%); 
            box-shadow: 10px 10px 15px darken($background-blocs, 7%);
            border-radius: 20px;
            &:hover
            {
                box-shadow: 5px 5px 10px darken($background-blocs, 15%);
                background-color: $btn-etape;
                cursor: pointer;
                & i
                {
                    color: $couleur-primaire;
                }
            }
            p:first-child
            {
                @include p-petite_desktop;
                color:white;
                background-color:$couleur-primaire;
                padding: 6px 12px 6px 12px;
                border-radius: 100px;
                margin : 10px 10px 10px -18px;
            }
            i
            {
                font-size: 23px;
                color: darken($background-blocs, 30%);
                margin: auto 5px;
            }
            p:last-child
            {
                @include p-petite_desktop;
                margin-right: 5px;

            }
        }
    }
}