// Version mobile
@import "../utils/_variables.scss";
@import "../utils/_mixins.scss";

//Une image est présente sur toutes les pages menu
section.menu_photo
{
    @include mobile;
    width: 100%;

    .photo_restau
    {
        width: 100%;
        height: auto;
        margin-bottom: -15%;
    }
}