// TOUTES LES MIXINS SONT SUR CE FICHIER. 
// UN COMMENTAIRE INDIQUE LA VERSION CONCERNEE (DESKTOP, TABLETTE, MOBILE).

//breakpoint pour ordinateur
@mixin breakpoint-desktop
{
    @media screen and (min-width:769px) 
    {
        width: 100%;
        height: auto;
    }
}
//breakpoint pour tablette
@mixin breakpoint-tablet 
{
    @media screen and (min-width:481px) and (max-width:768px)
    {
        width: 100%;
        height: auto;
    }
}
//breakpoint pour mobile
@mixin mobile 
{
    @media screen and (max-width:480px) 
    {
        width: 100%;
        height: auto;
    }
}
// Mixins des valeurs attribuées aux sections et aux blocs
@mixin bloc
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    font-family: $font-Roboto;
}
@mixin bloc-row
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    font-family: $font-Roboto;
}
@mixin bloc-center
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

@mixin bloc-btn_desktop //version ordinateur
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    height: auto;
    align-items: center;
    justify-content: flex-start;
}
@mixin bloc-btn_tab //version tablette 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    height: auto;
    align-items: center;
    justify-content: center;
}
@mixin bloc-btn //version mobile
{
    flex-direction: column;
    width: 85%;
    height: auto;
    margin: 10px auto 10px auto;
    align-items: center;
    justify-content: center;
}

@mixin liens_fleche_tab //Version tablette
{
    @include liens-apparence;
    position: absolute;
    left: 30px;
}
@mixin liens_fleche // Version Mobile et ordinateur
{
    @include liens-apparence;
    position: absolute;
    left: 30px;
}
@mixin liens-apparence
{
    text-decoration: none;
    border-style: none;
    cursor: pointer;
    color: $color-black;
    padding: 0%;
    margin: 0%;
}
@mixin input_desktop //Version ordinateur
{
    font-family: $font-Roboto;
    font-weight: bold;
    font-size: 25px;
    color: $color-black;
    background: $background-blocs;
    padding: 0px;
    border-style: none;
}
@mixin input_tab //Version tablette 
{
    font-family: $font-Roboto;
    font-weight: bold;
    font-size: 18px;
    color: $color-black;
    background: $background-blocs;
    padding: 0px;
    border-style: none;
}
@mixin input // Version mobile
{
    font-family: $font-Roboto;
    font-weight: bold;
    font-size: 16px;
    color: $color-black;
    background: $background-blocs;
    padding: 0px;
    border-style: none;
}

//Mixins présentes sur plusieurs pages
@mixin btn_desktop //Version ordinateur
{
    display: flex;
    flex-direction: row;
    width: 42%;
    position: relative;
    margin: 25px;            
    border-radius: 15px;
    border-style:none;    
    text-align: left;
    padding: 0%;
    background-color: $color-white;
    box-shadow: 5px 5px 10px darken($background-blocs, 10); 
}
@mixin btn_tab //Version tablette
{
    display: flex;
    flex-direction: row;
    width: 75%;
    position: relative;
    margin: 20px;            
    border-radius: 15px;
    border-style:none;    
    text-align: left;
    padding: 0%;
    background-color: $color-white;
    box-shadow: 5px 5px 10px darken($background-blocs, 10); 
}
@mixin btn //Version mobile
{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 30px auto 30px auto;            
    border-radius: 15px;
    border-style:none;
    text-align: left;
    padding: 0%;
    background-color: $color-white;
    box-shadow: 5px 5px 10px darken($background-blocs, 10);    
}
@mixin btn-degrade_desktop // Version ordinateur
{
    background: $couleur-degradee;
    color:$color-white;
    border-style: none;
    border-radius: 40px;
    padding: 15px 20px 15px 20px;
    margin: 40px auto 90px auto;
    cursor: pointer;
    &:hover
    {
        opacity: 0.8;
    }
}
@mixin btn-degrade_tab // Version tablette 
{
    background: $couleur-degradee;
    color:$color-white;
    border-style: none;
    border-radius: 40px;
    padding: 15px 20px 15px 20px;
    margin: 20px auto 50px auto;
    cursor: pointer;
    &:hover
    {
        opacity: 0.8;
    }
}
@mixin btn-degrade //Version Mobile
{
    background: $couleur-degradee;
    color:$color-white;
    border-style: none;
    border-radius: 40px;
    margin: 20px auto 50px auto;
    padding: 15px;
    cursor: pointer;
    &:hover
    {
        opacity: 0.8;
    }
}
@mixin bloc-cards_desktop // Version ordinateur
{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 10px 30px 30px 30px;
    background-color: $color-white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px darken($background-blocs, 15%);
}
@mixin bloc-cards_tab // Version tablette 
{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 280px;
    margin: 10px auto 30px auto;
    background-color: $color-white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px darken($background-blocs, 15%);
}
@mixin bloc-cards // Version mobile
{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin: 10px auto 30px auto;
    background-color: $color-white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px darken($background-blocs, 15%);
}
@mixin Nouveau_desktop //Version ordinateur 
{
    @include p-petite_desktop;
    z-index: 1;
    margin-right: -10%;
    background: $couleur-tertiaire;
    color: darken($couleur-tertiaire, 40%);
    padding: 5px 10px 5px 10px;    
    border-radius: 5px;
}
@mixin Nouveau_tab //Version tablette 
{
    @include p-petite_tab;
    z-index: 1;
    position: absolute;
    right: 14%;
    background: $couleur-tertiaire;
    color: darken($couleur-tertiaire, 40%);
    padding: 5px 10px 5px 10px;    
    border-radius: 5px;
}
@mixin Nouveau //Version mobile
{
    display: inline-block;
    @include p-petite;
    z-index: 1;
    position: absolute;
    right: 12%;
    background: $couleur-tertiaire;
    color: darken($couleur-tertiaire,40%);
    padding: 5px 10px 5px 10px;    
    border-radius: 5px;
}

// Version ordinateur : Les valeurs attribuées aux Titres, Sous-titre et texte
@mixin h1_desktop
{
    font-family: $font-Shrikhand;
    font-size: 35px;
    font-weight: bold;
    margin: 5% auto 2% 8%;
}

@mixin h2-bold_desktop
{
    font-family: $font-Roboto;
    font-size: 23px;
    font-weight: bold;
}
@mixin h2-normal_desktop 
{
    font-family: $font-Roboto;
    font-size: 22px;
    font-weight: normal;
}
@mixin p-nom_desktop
{
    font-family: $font-Roboto;
    font-size: 21px;
    font-weight: bold;
}
@mixin p-details_desktop
{
    font-family: $font-Roboto;
    font-size: 17px;
    font-weight: normal;
}
@mixin p-petite_desktop
{
    font-family: $font-Roboto;
    font-size: 20px;
    font-weight: bold;
    color: $color-black;
}
// Version tablette : Les valeurs attribuées aux Titres, Sous-titre et texte
@mixin h1_tab
{
    font-family: $font-Shrikhand;
    font-size: 25px;
    font-weight: bold;
    margin-left: 8%;
    margin-top: 6%;
}

@mixin h2-bold-tab
{
    font-family: $font-Roboto;
    font-size: 23px;
    font-weight: bold;
}
@mixin h2-normal_tab
{
    font-family: $font-Roboto;
    font-size: 22px;
    font-weight: normal;
}
@mixin p-nom_tab
{
    font-family: $font-Roboto;
    font-size: 17px;
    font-weight: bold;
}
@mixin p-details_tab 
{
    font-family: $font-Roboto;
    font-size: 15px;
    font-weight: normal;
}
@mixin p-petite_tab
{
    font-family: $font-Roboto;
    font-size: 16px;
    font-weight: bold;
    color: $color-black;
}
// Version Mobile : Les valeurs attribuées aux Titres, Sous-titre et texte 
@mixin h1 
{
    font-family: $font-Shrikhand;
    font-size: 22px;
    font-weight: bold;
    margin-left: 8%;
    margin-top: 6%;
}
@mixin h2-bold 
{
    font-family: $font-Roboto;
    font-size: 18px;
    font-weight: bold;
}
@mixin h2-normal 
{
    font-family: $font-Roboto;
    font-size: 16px;
    font-weight: normal;
}
@mixin p-nom 
{
    font-family: $font-Roboto;
    font-size: 15px;
    font-weight: bold;
}
@mixin p-details 
{
    font-family: $font-Roboto;
    font-size: 14px;
    font-weight: normal;
}
@mixin p-petite
{
    font-family: $font-Roboto;
    font-size: 14px;
    font-weight: bold;
    color: $color-black;
}

// Couleurs attribuées aux coeurs présents sur toutes les pages et à l'icône du loading spinner
@mixin couleur-degradee
{
    color: transparent;
    background: $couleur-degradee;
    background-clip: text;
    -webkit-background-clip: text;
}
// Les transitions et animations sont les mêmes pour tout type d'écran
//Présente sur toutes les pages
@mixin trans_coeur 
{
    transition-property: opacity,transform;
    transition-timing-function: linear;
    transition-duration: 0.3s;
    opacity: 1;
}
@mixin trans_coeur_disp 
{
    transition-property: opacity,transform;
    transition-timing-function: linear;
    transition-duration: 0.2s;
    opacity: 0;
}

//Présentes sur les pages menus
@mixin div_icone_check //Version mobile, tablette et ordinateur
{
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 0px;
    background: $couleur-tertiaire;
    border-radius: 0px 15px 15px 0px;
}
@mixin anim_rotate_check //Version mobile, tablette et ordinateur
{
    animation: 500ms linear 1 forwards;
    -webkit-animation: check_rotate 500ms linear 1 forwards;
    -o-animation: check_rotate 500ms linear 1 forwards;
    -moz-animation: check_rotate 500ms linear 1 forwards;
    @keyframes check_rotate
    {
        0%
        {
            opacity: 0;
            transform: rotate(0deg); 
            -webkit-transform: rotate(0deg);
        }
        25%
        {
            opacity: 1;
        }
        100%
        {
            opacity: 1;
            transform: rotate(360deg); 
            -webkit-transform: rotate(360deg);
        }        
    } 
}
@mixin transition_pastille_desktop //Version ordinateur
{
    transition-property: width, height, origin, transform;
    transition-timing-function: linear;
    transition-duration: 500ms;
    transform-origin: right;
    transform: scaleX(1);
    width: 80px;
    height: 94px;
}

@mixin transition_pastille_tab //version tablette 
{
    transition-property: width, height, origin, transform;
    transition-timing-function: linear;
    transition-duration: 500ms;
    transform-origin: right;
    transform: scaleX(1);
    width: 85px;
    height: 86px;
}

@mixin transition_pastille //Version mobile 
{
    transition-property: width, height, origin, transform;
    transition-timing-function: linear;
    transition-duration: 500ms;
    transform-origin: right;
    transform: scaleX(1);
    width: 65px;
    height: 70px;
}
@mixin anim-menu 
{
    transform-origin: top;
    animation: 2000ms linear 1 forwards;
    -moz-animation: anim-menu 2000ms linear 1 forwards; /* Firefox */
    -webkit-animation: anim-menu 2000ms linear 1 forwards; /* Safari et Chrome */
    -o-animation: anim-menu 2000ms linear 1 forwards; /* Opera */
    @keyframes anim-menu
    {
        0%
        {
            transform: scaleY(0);
            opacity:0;
        }
        100%
        {
            transform: scaleY(1);
            opacity:1;
        }
    }
}
// Animations qui concerne le loading spinner
@mixin icone-loading_desktop // Version ordinateur
{
    position:absolute;
    top: 20%;
    left: 40%;
    font-size: 16em;
    @include couleur-degradee;
    z-index: 3;
    @include anim-iconeloading;   
}
@mixin icone-loading_tab //Version tablette
{
    position:absolute;
    top: 20%;
    left: 37%;
    font-size: 13em;
    @include couleur-degradee;
    z-index: 3;
    @include anim-iconeloading;   
}
@mixin icone-loading //version mobile
{
    position:absolute;
    top: 17%;
    left: 25%;
    font-size: 10em;
    @include couleur-degradee;
    z-index: 3;
    @include anim-iconeloading;   
}
@mixin anim-loading 
{
    animation: 3000ms linear forwards;
    -moz-animation: anim-disp 3000ms linear forwards; /* Firefox */
    -webkit-animation: anim-disp 3000ms linear forwards; /* Safari et Chrome */
    -o-animation: anim-disp 3000ms linear forwards; /* Opera */
    @keyframes anim-disp
    {
        0%, 75% 
        {
            z-index: 2;
            opacity:1;
            background: $couleur-tertiaire;
            cursor : wait;
        }
        100%
        {
            z-index: -1;
            opacity:0;
            cursor: initial;
        }
    }
}
@mixin anim-iconeloading
{
    -webkit-animation: i-taille 2700ms linear forwards;
    animation: i-taille 2700ms linear forwards;
    -webkit-animation: i-rotate 2700ms linear forwards;
    animation: i-rotate 2700ms linear forwards;
    @-webkit-keyframes i-rotate 
    { 
        100% 
        { 
            opacity: 0;
            z-index: -1;
            -webkit-transform: rotate(360deg)                   
        }
        
    }
    @keyframes i-rotate 
    { 
        100% 
        { 
            opacity: 0;
            z-index: -1;
            transform: rotate(360deg); 
            -webkit-transform: rotate(360deg)
        }
    }
    @-webkit-keyframes i-taille 
    {
        0%, 100% 
        { 
            opacity: 0;
            z-index: -1;
            -webkit-transform: scale(0.0)
        }
        50% 
        { 
            opacity: 1;
            -webkit-transform: scale(1.0) 
        }
    }
    @keyframes i-taille 
    {
        0%, 100% 
        { 
            opacity: 0;
            z-index: -1;
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
        } 
        50% 
        { 
            opacity: 1;
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
    }
}
