// Ce fichier contient les variables 

//Les couleurs principalement utilisées 
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-degradee: linear-gradient($couleur-primaire, $couleur-secondaire);
$couleur-nouveau:#008766;
$background-blocs: #eaeaea;
$color-black:black;
$color-white: white;
//Les couleurs présentes sur la page d'accueil Ohmyfood
$btn-etape: #f5edff;
//Les polices utilisées
$font-Roboto:'Roboto';
$font-Shrikhand:'Shrikhand';
  
